@media screen and ( max-width:1299px ){

    main{
        background-color: #FCF8F5;
        padding: 0px;
    }

    h1{
        text-align: center;
    }
    .section_father_one{
        align-items:center;
        justify-content:center;
        flex-wrap: nowrap;
    }
    
    .section_father_two{
        align-items: center;
        justify-content:center;
        flex-wrap: nowrap;
    }
    
    .section_father_three{

        align-items: center;
        justify-content:center;
        flex-wrap: nowrap;
    }

    .children{
        flex-direction: center;
        align-items: center;
    }

    button{
        position: relative;
        bottom: 6rem;
        left: 1px
    }

    .product_name{
        text-align: center;
    }
    
    .little_name{
        text-align: center;
    }
    
    .price{
        text-align: center;
    }

    .children_right{
     display: none;
    }




    /* teste */
    .mobile-menu{
        cursor: pointer;
        clip-path: circle(100px at 10% -15%);
        transition: 1s ease-out;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;

    }

    .mobile-menu div{
        width: 32px;
        height: 2px;
        background-color: #9E0104;
        margin: 8px;
    }



    /* teste  */

}

@media screen and ( max-width: 600px  ){

    main{
        background-color: #FCF8F5;
    }

    h1{
        text-align: center;
    }
    .section_father_one{
        align-items:center;
        justify-content:center;
        flex-wrap: wrap;

    }
    
    .section_father_two{
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;

    }
    
    .section_father_three{

        align-items: center;
        justify-content:center;
        flex-wrap: wrap;

    }

    .children{
        display: flex;
        flex-direction: column;
        /* width: 190px; */
        max-width: 60%;
        gap: 20px;
    }

    button{
        position: relative;
        bottom: 6rem;
        left: 1px
    }

    .product_name{
        text-align: center;
    }
    
    .little_name{
        text-align: center;
    }
    
    .price{
        text-align: center;
    }
    
}