@media screen and ( max-width:1299px ){

    main{
        background-color: #FCF8F5;
        padding: 0px;
    }

    h1{
        text-align: center;
    }
    .section_father_one{
        align-items:center;
        justify-content:center;
        flex-wrap: nowrap;
    }
    
    .section_father_two{
        align-items: center;
        justify-content:center;
        flex-wrap: nowrap;
    }
    
    .section_father_three{

        align-items: center;
        justify-content:center;
        flex-wrap: nowrap;
    }

    .children{
        flex-direction: center;
        align-items: center;
    }

    button{
        position: relative;
        bottom: 6rem;
        left: 1px
    }

    .product_name{
        text-align: center;
    }
    
    .little_name{
        text-align: center;
    }
    
    .price{
        text-align: center;
    }

    .children_right{
     display: none;
    }

    /* teste */
    .side{
        display:flex;
        flex-direction: row;
        justify-content: right;
        padding: 10px;
        margin: 10px;
    }
    
    #basket {
        max-width: 100%;
        width: 70px;
        cursor:pointer;
    }
    /* teste  */

}

@media screen and ( max-width: 600px  ){

    main{
        background-color: #FCF8F5;
    }

    h1{
        text-align: center;
    }
    .section_father_one{
        align-items:center;
        justify-content:center;
        flex-wrap: wrap;

    }
    
    .section_father_two{
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;

    }
    
    .section_father_three{

        align-items: center;
        justify-content:center;
        flex-wrap: wrap;

    }

    .children{
        display: flex;
        flex-direction: column;
        /* width: 190px; */
        max-width: 60%;
        gap: 20px;
    }

    button{
        position: relative;
        bottom: 6rem;
        left: 1px
    }

    .product_name{
        text-align: center;
    }
    
    .little_name{
        text-align: center;
    }
    
    .price{
        text-align: center;
    }

    #basket {
        max-width: 100%;
        width: 50px;
        cursor:pointer;
    }
    
}