@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #FCF8F5;
}

main{
    background-color: #ffffff;
    max-width: 1920px;
    margin: 0px auto;
    padding: 0rem 3rem;
}

h1{
    font-family: "Noto Sans", serif;
    font-size: 50px; 
    
}

p{
    font-family: "Noto Sans", serif;
}

#father_one{
    display: flex;
    flex-direction: column;
}

.section_father_one{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:left;
    flex-wrap: wrap;
    
}

.section_father_two{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:left;
    flex-wrap: wrap;
}

.section_father_three{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:left;
    flex-wrap: wrap;
}

.imagens{
    max-width:  80%;
    border-radius: 12px;
}

.children{
    display: flex;
    flex-direction: column;
    width: 240px;
    max-width: 100%;
    gap: 20px 

}

.names{
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.product_name{
    color: #A69994 ;
    font-size: 14px;
    white-space: nowrap;
}

.little_name{
    font-weight: bold;
    color: #453734;
    font-size: 15px;
    white-space: nowrap; 
}

.price{
    color: #bf563f;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}

button{
    font-family: "Noto Sans", serif;
    font-size: 14px;
    border: none;
    box-shadow: 1px 1px 0px #a79d9c;
    background-color: white;
    max-width: 100%;
    width:  7rem;
    height: 1.8rem;
    border-radius: 20px;
    position: relative;
    bottom: 6rem;
    left: 1rem;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

.shopping_cart{
    max-width: 11%;

}

/* teste */

#cupcake{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cupcake img{
    opacity: 10%;
    max-width:60%;
}

.side{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 10px 0px ;
}

#basket {
    max-width: 100%;
    width: 70px;
    cursor:pointer;
}

.side_bar{
    background-color: #f3ece6;
    height: 100vh;
    position: fixed;
    top: 0; 
    right: 0;
    z-index: 99999;
    width: 32%;
    overflow: hidden; 

}

.side_bar.open_bar_menu {
    width: 60%;
} 

.cupcake_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cupcake_mobile img{
    max-width: 50%;
}

.exit_div{
    display: flex;
    width: 100%;

}

.exit{
    margin: 10px 10px 10px 10px ;
    max-width: 100%;
    width: 7%;
    cursor: pointer;
    
}

.overlay_menu{     
    background-color: rgba(0, 0, 0, 0.144);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 88888;
    display: none;
}
/* testes */